hydra-core>=1.2.0
omegaconf>=2.2.3
pygments>=2.13.0
tqdm>=4.64.1
platformdirs>=2.5.2
opencv-python
pillow>=10.2.0
werkzeug==2.3.8
tensorboard
torch
torchvision>=0.16
numpy
matplotlib
scipy
rapidfuzz
coverage~=5.3.1
pycocotools
ipywidgets
gdown
seaborn
xhtml2pdf==0.2.15
jinja2
imagededup
fonttools>=4.43.0
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
