hydra-core>=1.2.0
opencv-python==4.5.5.62
Pillow>=9.3.0
tensorboard>=2.10.1
torch >= 1.13.0
torchvision >= 0.14.0
torchaudio >= 0.13.0
omegaconf >= 2.2.3
numpy >= 1.23.5
pygments >= 2.13.0
tqdm >= 4.64.1
