hydra-core>=1.2.0
omegaconf>=2.2.3
pygments>=2.13.0
tqdm>=4.64.1
appdirs>=1.4.4
opencv-python
Pillow
tensorboard
torch
torchvision
numpy
matplotlib
scipy
rapidfuzz
coverage~=5.3.1
seaborn
xhtml2pdf
jinja2
