.lst-kix_e2sndx35aeyk-8 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-8, lower-roman) ". "
}

ol.lst-kix_e2sndx35aeyk-3.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-3 0
}

.lst-kix_e2sndx35aeyk-7 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-7, lower-latin) ". "
}

.lst-kix_e2sndx35aeyk-4 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-4, lower-latin) ". "
}

.lst-kix_e2sndx35aeyk-5 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-5, lower-roman) ". "
}

.lst-kix_e2sndx35aeyk-3 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-3
}

.lst-kix_e2sndx35aeyk-6 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-6, decimal) ". "
}

ol.lst-kix_e2sndx35aeyk-8.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-8 0
}

.lst-kix_e2sndx35aeyk-8 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-8
}

.lst-kix_e2sndx35aeyk-0 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-0
}

ol.lst-kix_e2sndx35aeyk-0.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-0 0
}

.lst-kix_e2sndx35aeyk-5 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-5
}

ol.lst-kix_e2sndx35aeyk-5.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-5 0
}

.lst-kix_e2sndx35aeyk-2 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-2
}

ol.lst-kix_e2sndx35aeyk-7.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-7 0
}

.lst-kix_e2sndx35aeyk-6 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-6
}

.lst-kix_e2sndx35aeyk-7 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-7
}

ol.lst-kix_e2sndx35aeyk-2.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-2 0
}

ol.lst-kix_e2sndx35aeyk-4.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-4 0
}

ol.lst-kix_e2sndx35aeyk-0 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ol.lst-kix_e2sndx35aeyk-1 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-2 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-3 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-4 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-5 {
    list-style-type: none
}

.lst-kix_e2sndx35aeyk-1 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-1, lower-latin) ". "
}

ol.lst-kix_e2sndx35aeyk-6 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-7 {
    list-style-type: none
}

ol.lst-kix_e2sndx35aeyk-8 {
    list-style-type: none
}

.lst-kix_e2sndx35aeyk-0 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-0, decimal) ". "
}

.lst-kix_e2sndx35aeyk-3 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-3, decimal) ". "
}

ol.lst-kix_e2sndx35aeyk-1.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-1 0
}

.lst-kix_e2sndx35aeyk-1 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-1
}

.lst-kix_e2sndx35aeyk-4 > li {
    counter-increment: lst-ctn-kix_e2sndx35aeyk-4
}

ol.lst-kix_e2sndx35aeyk-6.start {
    counter-reset: lst-ctn-kix_e2sndx35aeyk-6 0
}

.lst-kix_e2sndx35aeyk-2 > li:before {
    content: "" counter(lst-ctn-kix_e2sndx35aeyk-2, lower-roman) ". "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c8 {
    margin-left: 31.5pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c3 {
    margin-left: 31.5pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c13 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right;
    height: 11pt
}

.c0 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    margin-left: -40.5pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 15pt;
    font-family: "Arial";
    font-style: normal
}

.c9 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c2 {
    padding: 0;
    margin: 0
}

.c1 {
    color: #666666
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
        /* change the margins as you want them to be. */
    }
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}